
*.suo
*.suo
*.exe
*.pdb
stock/bin/Debug/stock.application
stock.suo
stock/bin/Debug/stock.exe.manifest
stock/bin/Debug/stock.pdb
*.application
stock/bin/Debug/stock.vshost.application
stock/bin/Debug/stock.vshost.exe.manifest
*.cache
stock/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
stock/obj/x86/Debug/stock.application
stock/obj/x86/Debug/stock.csproj.FileListAbsolute.txt
stock/obj/x86/Debug/stock.csproj.GenerateResource.Cache
*.exe
stock/obj/x86/Debug/stock.exe
stock/obj/x86/Debug/stock.exe.manifest
stock/obj/x86/Debug/stock.pdb
